@import "_elements";
@import "_root";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
body,
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
}
.navbar {
    background-color: $blue;
    padding: 10px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__brand {
        img {
            max-width: 300px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        nav {
            ul {
                display: flex;
                li {
                    list-style: none;
                    margin-left: 20px;
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 30px;
                        &:hover {
                            border-bottom: 2px solid #fff;
                        }
                    }
                }
            }
        }
        button {
            margin-left: 50px;
        }
    }
}
.post {
    &__card-content {
        display: flex;
        justify-content: space-between;
    }
    &__card-item {
        max-width: 500px;
        max-height: 400px;
        width: 100%;
        display: flex;
        border: 2px solid $blue;
        margin-top: 100px;
    }
    &__card-img {
        img {
            max-height: 400px;
        }
    }
    &__card-text {
        background-color: #fff;
        padding: 60px 30px;
        text-align: center;
        h2 {
            margin-top: 50px;
            font-weight: 400;
        }
    }
}
.raspisaniye {
    background-image: url("/assets/img/bg-raspisaniye.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    margin: 100px 0;
    &__intro {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 31px;
        }
    }
    &__item {
        h1 {
            font-size: 31px;
            color: #fff;
            margin-top: 50px;
            text-align: center;
        }
    }
}
.news {
    margin-top: 100px;
    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__card-item {
        border: 1px solid $blue;
        margin-left: 60px;
    }
    &__card-img {
        padding: 0;
        img {
            max-width: 100%;
        }
    }
    &__card-text {
        font-size: 22px;
        text-align: center;
    }
}
.footer {
    background-image: url("../assets/img/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
    margin-top: 100px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            img {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }
    &__links {
        nav {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    list-style: none;
                    a {
                        color: #fff;
                        text-decoration: none;
                        margin-left: 10px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
.players {
    &__slider-item {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.stadium {
    margin: 100px auto;
    &__content {
        img {
            max-width: 100%;
        }
    }
}
.navbar__mobile {
    display: none;
    min-height: 100vh;
    width: 60%;
    position: fixed;
    top: -820%;
    left: 0;
    z-index: 2000;
    background-color: $blue;
    padding: 15px 10px;
    transition: 0.5s;
    display: block;
    nav {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            li {
                text-align: center;
                margin: 20px auto;
                list-style: none;
                a {
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                    font-size: 42px;
                    margin: 20px auto;
                }
            }
        }
    }
}
.navbar__mobile-active {
    top: 0;
}
.navbar__brand button {
    display: none;
    border: 0;
    background: transparent;
    width: 120px;
}

//media screen 1062
@media screen and (max-width: 1062px) {
    .navbar__links nav {
        display: none;
    }
    .post__card-content {
        flex-direction: column;
    }
    .post__card-item {
        margin: 30px auto;
    }
    .news__content {
        flex-direction: column;
    }
    .news__card-item {
        margin: 30px auto;
    }
    .navbar__brand {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__brand .prop {
        margin-left: 10px;
        display: block;
    }
    .navbar__brand .prop img {
        width: 110px;
    }
    .footer__links nav {
        display: none;
    }
    .navbar__brand .open {
        display: block;
    }
}
@media screen and (max-width: 966px) {
    .raspisaniye__intro {
        flex-direction: column;
        h1 {
            text-align: center;
            margin: 30px auto;
        }
    }
    .footer__content {
        flex-direction: column;
    }
    .post__card-item {
        flex-direction: column;
        margin: 50px auto;
    }
    .post__card-img {
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .post__card-text {
        padding: 0;
    }
    .raspisaniye {
        margin: 200px auto;
    }
    .post__card-text h2 {
        margin-top: 0;
    }
    .navbar__brand img {
        max-width: 60%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .footer__links nav ul {
        flex-direction: column;
    }
    .footer__links nav ul li {
        margin: 30px auto;
    }
}
